/* Reset default margin and padding */
body,
html {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.header-title {
  font-size: 24px;
  margin: 0;
}

/* Profile card styles */
.profile-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.profile-card img {
  max-width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.profile-card h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

.profile-card p {
  font-size: 16px;
  color: #666;
}

.profile-card button {
  background-color: #61dafb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-card button:hover {
  background-color: #48b8d0;
}

/* Map section styles */
.map-section {
  margin-bottom: 40px;
}

/* Admin panel styles */
.admin-panel {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.admin-panel h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

.admin-panel input {
  width: calc(100% - 40px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-panel button {
  background-color: #61dafb;
  color: #fff;
  border: none;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-panel button:hover {
  background-color: #48b8d0;
}

/* Profile details styles */
.profile-details {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.profile-details img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.profile-details h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

.profile-details p {
  font-size: 16px;
  color: #666;
}
/* ProfileModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* Limit modal width */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.close-button:hover {
  color: red; /* Change color on hover */
}

h2 {
  margin-top: 0;
}

.img1 {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
